/* home section styling */
.home{
    /* display: flex;
    height: 100vh;
    
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-family: 'Ubuntu', sans-serif;
    position: fixed;
    top: 0; */
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 8px;
  }


  .home__name {
    color: #3d3d3d;
   
    font-size: 2rem;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
}

.home__title {
  font-size: 7rem;
  color: #f3f3f3;
  color: var(--color-text-1);
  margin-bottom: 2rem;
  font-family: "Poppins", sans-serif;
}
.home__title--span {
  display: block;
  line-height: 1;
}

.gradient-text {
  color: #f3004b;
  
}



.btn {
  border: none;
  outline: none;
  padding: 8px 16px;
  border-radius: 6px;
  font-size: 25px;
  font-weight: 400;
  display: inline-block;
  padding: 1rem 2.8rem;
  border-radius: 10rem;
  background-color: #f3004b;
  
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 600;
  cursor: pointer;
  position: relative;
  text-decoration: none;
  color: #fafafa;
  
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}
.btn:hover {
  transition: -webkit-transform .2s .25s;
  transition: transform .2s .25s;
  transition: transform .2s .25s, -webkit-transform .2s .25s;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.btn::after {
  --border: 3.6px solid #f3004b;
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 110%;
  height: 100%;
  border-radius: inherit;
  border-left: var(--border);
  border-right: var(--border);
  transition: width .3s .3s;
}
.btn:hover::after {
  transition: width .3s;
  width: 97%;
}
  .home .home-content{
    grid-column: span 8 / span 8;
    display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    /* width: 70%;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
  }
  .text{
    width: 100%;
  }
  .home .text-one{
    font-size: 25px;
    color: #0E2431;
  }
  .home .text-two{
    color: #0E2431;
    font-size: 75px;
    font-weight: 600;
    margin-left: -3px;
  }
  .home .text-three{
    font-size: 40px;
    margin: 5px 0;
    color: #4070f4;
  }
  .home .text-four{
    font-size: 23px;
    margin: 5px 0;
    color: #0E2431;
  }
  .home .button{
    margin: 14px 0;
  }
  
  .home .button button:hover{
    /* border-color: #4070f4;
    background-color: #fff;
    color: #4070f4; */
  }

  .profile {
    grid-column: span 4 / span 4;
    grid-column-start: 9;
    /* display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 100%; 
    overflow: hidden;
    background-color: #f0f0f0;  */
  }
  
  #profile-pic {
    
    object-fit: cover;
    transition: opacity 0.5s ease-in;

    max-width: 100%;
    height: auto;
    display: block;
    position: relative;
    top: 4rem;
  }
  

  #canvas {
    /* background-color: var(--color-skin-base);  */
    pointer-events: none;
    position: absolute;
     top: 0;
    right: 0;
    bottom: 0;
    left: 0; 
    
        
    width: 100vw;
    height: 100vh;
    
    
  }
  

  .home-content {
   
    position: relative;
    z-index: 10;
    display: flex;
    align-items: center;
    height: calc(100vh - 100px);
  }
  

  .icons {
    width: 8rem;
    height: 5rem;
    padding: 2rem;
    border-radius: 50%;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .icons:hover {
    background-color: #a59b9b93;
    transform: scale(1.1);      /* optional: slight zoom effect */
  }
  
  

  @media screen and (max-width: 400px) {
    .home {
      display:flex;
      flex-wrap:wrap;
    }
    .home__name {
      font-size: 1.5rem;
      margin-bottom: 1rem;
    }
    .home__title {
      font-size:3rem;
    }
    .home .home-content {
      width: 100%;
    }
    .profile{
      width:100%;
    }
    .icons {
       width: 3rem; 
       height: 2rem; 
       padding: 0rem;
    }
    #profile-pic {
      position: static;

    }
.socials-media{
  justify-content: center;
}
.home .button {
  margin: 2rem 0;
}
   
  }
  
  @media screen and (min-width: 401px) and (max-width: 720px) {
    .home {
      display:flex;
      flex-wrap:wrap;
    }
    .home__name {
      font-size: 1.2rem;
    }
    .home__title {
      font-size: 3.2rem;
    }
    .home .home-content {
      width: 100%;
    }
    .profile{
      width:100%;
    }
    .icons {
       width: 4rem; 
       height: 3rem; 
       padding: 0rem;
    }
    #profile-pic {
      position: static;

    }
    
  }
  
  @media screen and (min-width: 721px) and (max-width: 1280px) {
      
    .home .home-content {
      grid-column: span 12 / span 12;
    }
    .profile {
      grid-column: span 12 / span 12;
      grid-column-start: 1;
    }
  }
  
  @media screen and (min-width: 1281px) and (max-width: 1440px) {
      
  }
  
  @media screen and (min-width: 1441px) and (max-width: 1920px) {
      
  }
  
  @media screen and (min-width: 1921px) {
      
  }





















