.socialLink {
    display: block;
    transition: 0.2s;
  }
  
  .socialLink:hover,
  .socialLink:focus-visible {
    color: var(--color-accent);
  }
  
  .social-icon {
    display: block;
    color: brown;
  }
  
  
  